{
  "presets": ["module:metro-react-native-babel-preset"],
  "plugins": [
    [
      "module-resolver",
      {
        "cwd": "babelrc",
        "root": ["./src"],
        "alias": {
          "utils": "./src/utils"
        }
      }
    ],
    [
      "import",
      {
        "libraryName": "antd-mobile-rn"
      }
    ],
    ["@babel/plugin-proposal-decorators", { "legacy": true }]
  ]
}
